<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Composition.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Composition.Properties.Settings>
            <setting name="ITraceSource" serializeAs="String">
                <value>DatabaseTracer</value>
            </setting>
            <setting name="ISerializer" serializeAs="String">
                <value>DatabaseSerializer</value>
            </setting>
            <setting name="ConsoleTracerDll" serializeAs="String">
                <value>..\..\..\ConsoleTracer\bin\Debug</value>
            </setting>
            <setting name="XmlSerializerDll" serializeAs="String">
                <value>..\..\..\XmlSerialization\bin\Debug</value>
            </setting>
            <setting name="DatabaseSerializerDll" serializeAs="String">
                <value>..\..\..\Database\bin\Debug</value>
            </setting>
            <setting name="DatabaseTracerDll" serializeAs="String">
                <value>..\..\..\DatabaseTracer\bin\Debug</value>
            </setting>
            <setting name="DatabaseConnectionString" serializeAs="String">
                <value>Data Source=DESKTOP-ORQR3B8;Initial Catalog=TPAFINAL2;Integrated Security=True;Pooling=false</value>
            </setting>
        </Composition.Properties.Settings>
    </userSettings>
</configuration>